{
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime",
		"plugin:react-hooks/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["prettier", "@typescript-eslint", "jest", "jsdoc", "react"],
	"rules": {
		"react/jsx-uses-vars": "error",
		"react/jsx-uses-react": "error"
	}
}
