node_modules
.DS_Store
local.json

# yarn
.yarn-integrity
*.log

# build
dist
dist-storybook
*.tgz

# coverage reports
coverage
test-report.xml

# exclude vscode config except for our shared snippets
.vscode/*
!.vscode/reactSpectrumCharts.code-snippets

# exclude idea config
.idea/*