always-auth=false

registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/

@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release/
@analytics:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-analytics-release/
@react:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-react-release/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/
@aaui:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aaui-release/
@cja:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-cja-release/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/