{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@reduxjs/(.*)$",
    "^@(adobe/|exc/|spectrum|react-types/|react-spectrum/|internationalized/)(.*)$",
    "^@(aaui|analytics)/(.*)$",
    "^@pa/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
