.action-button {
    background: none;
    font-size: 1.05em;
    border: none;
    color: #3e89e3;
}

.text-color {
    color: #b1b1b1
}

.error-info {
    font-style: italic;
    font-size: 1.0em;
}