/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* 
the vega tooltip won't pick up spectrum variables
set all the default styling
*/
#vg-tooltip-element.vg-tooltip {
  border-radius: 4px;
  font-family: adobe-clean-ux, adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 12px;
  max-width: 300px;
  overflow-wrap: break-word;
}
/*
sections sometimes add a 500ms transition but vega tooltips close instantly
this removes transitions in the vega tooltip
*/
#vg-tooltip-element.vg-tooltip section {
  transition: none;
}
/* double scope light-theme so that it has higher precedence */
#vg-tooltip-element.vg-tooltip.light-theme.light-theme {
  color-scheme: light;
  border: 1px solid #cacaca;
  background-color: #fff;
  color: #4b4b4b;
}
/* double scope dark-theme so that it has higher precedence */
#vg-tooltip-element.vg-tooltip.dark-theme.dark-theme {
  color-scheme: dark;
  border: 1px solid #494949;
  background-color: #000;
  color: #c8c8c8;
}
#vg-tooltip-element.vg-tooltip .legend-tooltip {
  max-width: 150px;
}
#vg-tooltip-element.vg-tooltip .legend-tooltip .series {
  font-weight: 700;
}
#vg-tooltip-element.vg-tooltip .legend-tooltip .series-description {
  margin: 0px;
}
.rsc-container {
  position: relative;
  width: auto;
  height: 100%;
}
