name: Publish library

on:
  push:
    tags:
      - 'v*.*.*' # Only trigger on tags that match the pattern 'vX.X.X'

permissions:
  id-token: write # Required for OIDC
  contents: write # Required to push branches and create PRs
  pull-requests: write # Required to create pull requests

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm for trusted publishing
        run: npm install -g npm@11.5.1

      - name: Install Dependencies
        run: yarn install

      - name: Extract Tag
        id: extract_tag
        run: |
          FULL_TAG=${GITHUB_REF#refs/tags/}
          VERSION_NUMBER=${FULL_TAG#v}
          echo "tag=$VERSION_NUMBER" >> "$GITHUB_ENV"
          echo "tag=$VERSION_NUMBER" >> "$GITHUB_OUTPUT"

          # Determine npm dist-tag (alpha, beta, rc, or latest)
          if [[ $VERSION_NUMBER =~ -([a-z]+) ]]; then
            NPM_TAG="${BASH_REMATCH[1]}"
          else
            NPM_TAG="latest"
          fi
          echo "npm_tag=$NPM_TAG" >> "$GITHUB_ENV"
          echo "npm_tag=$NPM_TAG" >> "$GITHUB_OUTPUT"

      - name: Update Package Version
        run: |
          node ./scripts/updateVersions.js $tag

      - name: Build
        run: yarn build

      - name: Configure Yarn Registry
        run: yarn config set registry https://registry.npmjs.org/

      - name: Publish Adobe Package
        run: yarn workspace @adobe/react-spectrum-charts publish-package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.ADOBE_BOT_NPM_TOKEN }}
          npm_config_tag: ${{ steps.extract_tag.outputs.npm_tag }}

      - name: Publish Spectrum Charts Packages
        run: |
          yarn workspace @spectrum-charts/constants publish-package
          yarn workspace @spectrum-charts/locales publish-package
          yarn workspace @spectrum-charts/themes publish-package
          yarn workspace @spectrum-charts/utils publish-package
          yarn workspace @spectrum-charts/vega-spec-builder publish-package
        env:
          npm_config_tag: ${{ steps.extract_tag.outputs.npm_tag }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Update package version to ${{ steps.extract_tag.outputs.tag }}'
          title: 'Update package version to ${{ steps.extract_tag.outputs.tag }}'
          body: 'This PR updates the version in package.json to ${{ steps.extract_tag.outputs.tag }}.'
          branch: 'release-${{ steps.extract_tag.outputs.tag }}'
          base: 'main'
